<!-- templates/partials/tabla_historial_envasados.html -->
<table class="table table-bordered">
    <thead class="text-white text-center" style="background-color: #FF5722;">
        <tr>
            <th class="text-center">Fecha</th>
            <th class="text-center">Ver</th>
            <th class="text-center">Descargar</th>
        </tr>
    </thead>
    <tbody>
        {% for registro in finalizados_envasados %}
            <tr>
                <td class="text-center">{{ registro.fecha }}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-outline-warning btn-sm" onclick="verDetalleHistorial('{{ registro.id_registro_control_envasados }}')">
                        <i class="fas fa-eye"></i> Ver
                    </button>
                </td>
                <td class="text-center">
                    <a href="{{ url_for('control_envasados.download_formato', formato_id=registro.id_registro_control_envasados) }}" class="btn btn-sm" style="background-color: #FF5722; color: white;">
                        <i class="fas fa-download"></i> Descargar Formato
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

