{% extends "base.html" %}

{% block title %}Control general del personal{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mb-4">Formato de control general del personal</h1>
    <form id="formControlGeneralPersona" method="POST" action="{{ url_for('control_general.control_general') }}" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="dniTrabajador">DNI:</label>
                <input type="number" id="dniTrabajador" class="form-control" name="dniTrabajador" placeholder="DNI" required>
            </div>
            <div class="form-group col-md-6">
                <label for="nombresTrabajador">Nombres:</label>
                <input type="text" id="nombresTrabajador" class="form-control" name="nombresTrabajador" placeholder="Nombres del Trabajador" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="apellidosTrabajador">Apellidos:</label>
                <input type="text" id="apellidosTrabajador" class="form-control" name="apellidosTrabajador" placeholder="Apellidos del Trabajador">
            </div>
            <div class="form-group col-md-6">
                <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                <input type="date" id="fechaNacimiento" class="form-control" name="fechaNacimiento">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="direccionTrabajador">Dirección:</label>
                <input type="text" id="direccionTrabajador" class="form-control" name="direccionTrabajador" placeholder="Dirección del Trabajador">
            </div>
            <div class="form-group col-md-6">
                <label for="celularTrabajador">Celular:</label>
                <input type="number" id="celularTrabajador" class="form-control" name="celularTrabajador" placeholder="Celular del Trabajador">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="celularEmergenciaTrabajador">Celular de emergencia:</label>
                <input type="number" id="celularEmergenciaTrabajador" class="form-control" name="celularEmergenciaTrabajador" placeholder="Celular de emergencia del Trabajador">
            </div>
            <div class="form-group col-md-6">
                <label for="fechaIngreso">Fecha de ingreso:</label>
                <input type="date" id="fechaIngreso" class="form-control" name="fechaIngreso" placeholder="Fecha de ingreso del Trabajador">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="areaTrabajador">Área:</label>
                <input type="text" id="areaTrabajador" class="form-control" name="areaTrabajador" placeholder="Área del Trabajador" value="Producción">
            </div>
            <div class="form-group col-md-6">
                <label for="cargoTrabajador">Cargo:</label>
                <input type="text" id="cargoTrabajador" class="form-control" name="cargoTrabajador" placeholder="Cargo del Trabajador">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="genero_seleccionar">Género:</label>
                <select id="genero_seleccionar" class="form-control" name="genero_seleccionar" required>
                    {% for g in genero %}
                        <option value="{{ g.idsexo }}">{{ g.detalle_sexo }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="carnetSaludTrabajador">Carnet de salud:</label>
                <input type="file" id="carnetSaludTrabajador" class="form-control-file" name="carnetSaludTrabajador" accept="image/*" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" style="background-color: #FF8C00;">Agregar</button>
        
    </form>
    

    <!-- Sección de Información del Trabajador -->
    <div class="row mt-5" id="trabajadorInfo">
        {% for trabajador in trabajadores %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ trabajador.apellidos }} {{ trabajador.nombres }}</h5>
                    <p class="card-text">
                        <strong>DNI:</strong> {{ trabajador.dni }}<br>
                        <strong>Área:</strong> {{ trabajador.area }}<br>
                        <strong>Cargo:</strong> {{ trabajador.cargo }}<br>
                        <strong>Fecha de Nacimiento:</strong> {{ trabajador.fecha_nacimiento}}<br>
                        <strong>Fecha de Ingreso:</strong> {{ trabajador.fecha_ingreso }} <br>
                        <strong>Celular:</strong> {{ trabajador.celular }} <br>
                        <strong>Celular de emergencia:</strong> {{ trabajador.celular_emergencia }} <br>
                    </p>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editTrabajadorModal" 
                            data-id="{{ trabajador.idtrabajador }}" data-dni="{{ trabajador.dni }}" 
                            data-nombres="{{ trabajador.nombres }}" data-apellidos="{{ trabajador.apellidos }}" 
                            data-fechanacimiento="{{ trabajador.fecha_nacimiento }}" 
                            data-direccion="{{ trabajador.direccion }}" data-celular="{{ trabajador.celular }}" 
                            data-celularemergencia="{{ trabajador.celular_emergencia }}" 
                            data-fechaingreso="{{ trabajador.fecha_ingreso }}" data-area="{{ trabajador.area }}" 
                            data-cargo="{{ trabajador.cargo }}" data-genero="{{ trabajador.fk_idsexo }}">
                        Editar
                    </button>
                    <button type="button" class="btn btn-danger" onclick="eliminarTrabajador('{{ trabajador.idtrabajador }}')">
                        Eliminar
                    </button>
                    <a href="{{ url_for('control_general.download_formato', trabajador_id=trabajador.idtrabajador) }}" 
                        class="btn btn-primary btn-block" 
                        style="background-color: #FF8C00; margin-top: 20px;">
                        Descargar Formato
                    </a>
                </div>
                <img src="data:image/jpeg;base64,{{ trabajador.carnet_salud }}" class="card-img-bottom img-fluid" alt="Carnet de Salud">
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Modal para Editar Información del Trabajador -->
    <div class="modal fade" id="editTrabajadorModal" tabindex="-1" role="dialog" aria-labelledby="editTrabajadorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="formEditTrabajador" method="POST" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editTrabajadorModalLabel">Editar Información del Trabajador</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="editIdTrabajador" name="idTrabajador">
                        <div class="form-group">
                            <label for="editDniTrabajador">DNI:</label>
                            <input type="number" id="editDniTrabajador" class="form-control" name="dniTrabajador">
                        </div>
                        <div class="form-group">
                            <label for="editNombresTrabajador">Nombres:</label>
                            <input type="text" id="editNombresTrabajador" class="form-control" name="nombresTrabajador">
                        </div>
                        <div class="form-group">
                            <label for="editApellidosTrabajador">Apellidos:</label>
                            <input type="text" id="editApellidosTrabajador" class="form-control" name="apellidosTrabajador">
                        </div>
                        <div class="form-group">
                            <label for="editFechaNacimiento">Fecha de Nacimiento:</label>
                            <input type="date" id="editFechaNacimiento" class="form-control" name="fechaNacimiento">
                        </div>
                        <div class="form-group">
                            <label for="editDireccionTrabajador">Dirección:</label>
                            <input type="text" id="editDireccionTrabajador" class="form-control" name="direccionTrabajador">
                        </div>
                        <div class="form-group">
                            <label for="editCelularTrabajador">Celular:</label>
                            <input type="number" id="editCelularTrabajador" class="form-control" name="celularTrabajador">
                        </div>
                        <div class="form-group">
                            <label for="editCelularEmergenciaTrabajador">Celular de Emergencia:</label>
                            <input type="number" id="editCelularEmergenciaTrabajador" class="form-control" name="celularEmergenciaTrabajador">
                        </div>
                        <div class="form-group">
                            <label for="editFechaIngreso">Fecha de Ingreso:</label>
                            <input type="date" id="editFechaIngreso" class="form-control" name="fechaIngreso">
                        </div>
                        <div class="form-group">
                            <label for="editAreaTrabajador">Área:</label>
                            <input type="text" id="editAreaTrabajador" class="form-control" name="areaTrabajador">
                        </div>
                        <div class="form-group">
                            <label for="editCargoTrabajador">Cargo:</label>
                            <input type="text" id="editCargoTrabajador" class="form-control" name="cargoTrabajador">
                        </div>
                        <div class="form-group">
                            <label for="editGeneroSeleccionar">Género:</label>
                            <select id="editGeneroSeleccionar" class="form-control" name="genero_seleccionar">
                                {% for g in genero %}
                                    <option value="{{ g.idsexo }}">{{ g.detalle_sexo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editCarnetSaludTrabajador">Carnet de Salud:</label>
                            <input type="file" id="editCarnetSaludTrabajador" class="form-control-file" name="carnetSaludTrabajador" accept="image/*">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Modal para visualizar el carnet de salud ampliado -->
    <div class="modal fade" id="viewImageModal" tabindex="-1" role="dialog" aria-labelledby="viewImageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewImageModalLabel">Carnet de Salud</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img id="modalImage" src="" alt="Carnet de Salud" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/control_general_persona.js') }}"></script>
{% endblock %}
