{% extends "base.html" %}

{% block title %}Verificación de limpieza y desinfección de las áreas{% endblock %}

{% block content %}

<div class="container-fluid mt-1">
    <h1 class="mb-4 text-center" style="color: #FF8C00;">Verificación de Limpieza y Desinfección de las Áreas</h1>
    
    <!-- Formulario para agregar una nueva condición ambiental -->
    <div id="listaLimpiezaArea">
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-warning text-white">
                <h5 class="mb-0">Agregar Registro de Limpieza</h5>
            </div>
            <div class="card-body">
                <form id="formCondicionAmbiental" method="POST" action="javascript:void(0);">
                    <div class="form-row align-items-end">
                        <div class="form-group col-lg-10 col-md-8">
                            <label for="selectArea" class="font-weight-bold text-warning">Áreas en producción:</label>
                            <select id="selectArea" class="form-control" name="selectArea">
                                <option value="">Seleccione el Área</option>
                                {% for a in areas %}
                                    <option value="{{ a.id_area_produccion }}">{{ a.detalle_area_produccion }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-lg-2 col-md-2">
                            <button type="button" class="btn btn-warning text-white w-100" onclick="agregarRegistroLimpiezaAreas()">
                                <i class="fas fa-plus-circle"></i> Agregar Registro
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Sección para mostrar la lista de todos los registros de verificación de limpieza y desinfección de las áreas activas -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header text-white" style="background-color: #FF8C00;" >
                <h5 class="mb-0">Registros de Verificación de Limpieza y Desinfección de las Áreas</h5>
            </div>
            <div class="card-body">
                <div class="form-group col-md-6">
                    <label for="filtrarAraeLA" style="color: #FF8C00;">Filtrar por área:</label>
                    <input type="text" id="filtrarAraeLA" class="form-control" name="filtrarAraeLA" placeholder="Filtrar el registro de verificación de limpieza y desinfección de las áreas por área" onkeyup="filterLAOpenArea()"  autocomplete="off">
                </div>
                <!-- Botón de observaciones -->
                <div class="col-12 mb-3">
                    <button type="button" class="btn btn-lg btn-block shadow-sm"
                            style="background-color: #FFDAB9; color: #FF8C00;"
                            data-toggle="modal" data-target="#observacionesRegistradas" onclick="cargarObservacionesLimpiezaAreas()">
                        <i class="fas fa-history"></i> Observaciones
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="LATableOpen">
                        <thead class="text-white" style="background-color: #FF8C00;">
                            <tr class="text-center">
                                <th>Área</th>
                                <th>Mes</th>
                                <th>Año</th>
                                <th>Estado</th>
                                <th>Ver</th>
                                <th>Finalizar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for la in v_limpieza_areas %}
                            <tr class="text-center">
                                <td>{{ la.detalle_area_produccion }}</td>
                                <td>{{ la.mes }}</td>
                                <td>{{ la.anio }}</td>
                                <td>{{ la.estado }}</td>
                                <td>
                                    <button class="btn btn-warning btn-sm" onclick="verDetallesVerificacionLimpiezaAreas('{{ la.id_verificacion_limpieza_desinfeccion_area }}', '{{ la.id_area_produccion }}', '{{ la.detalle_area_produccion }}', '{{ la.mes }}', '{{ la.anio }}', '{{ la.estado }}')">
                                        <i class="fas fa-arrow-circle-right"></i> Ver
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm" onclick="finalizarVerificacionLimpiezaAreas('{{ la.id_verificacion_limpieza_desinfeccion_area }}')" style="background-color: #ff0000;">
                                        <i class="fas fa-check-circle"></i> Finalizar
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Sección para mostrar la lista de todos los registros de limpieza finalizados -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header text-white bg-danger">
                <h5 class="mb-0">Historial de Limpieza y Desinfección de Áreas Finalizados</h5>
            </div>
            <div class="card-body">
                <!-- Filtro por área, mes y año -->
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="filtrarMesLACLOSE" class="text-warning">Filtrar por mes:</label>
                        <input type="month" id="filtrarMesLACLOSE" class="form-control" onchange="filterByDate()">
                    </div>
                </div>

        
                <!-- Listado agrupado por mes y año -->
                <div id="accordionFinalizados">
                    {% for grupo in v_finalizados_LA %}
                    <div class="card mb-3">
                        <div class="card-header bg-light d-flex justify-content-between align-items-center" id="heading{{ grupo.anio }}{{ grupo.mes }}">
                            <div>
                                <button class="btn btn-link text-dark font-weight-bold" data-toggle="collapse" data-target="#collapse{{ grupo.anio }}{{ grupo.mes }}" aria-expanded="true" aria-controls="collapse{{ grupo.anio }}{{ grupo.mes }}">
                                    {{ grupo.mes }} del {{ grupo.anio }} ({{ grupo.registros | length }} Registros)
                                </button>
                            </div>
                            <div>
                                <a href="{{ url_for('limpieza_areas.download_formato', mes=grupo.mes) }}" class="btn btn-info btn-sm mr-2">
                                    <i class="fas fa-file-download"></i> Descargar Formato
                                </a>
                                <a href="{{ url_for('limpieza_areas.download_formato_obs', mes=grupo.mes) }}" class="btn btn-success btn-sm">
                                    <i class="fas fa-file-alt"></i> Descargar Observaciones
                                </a>
                            </div>
                        </div>
                        <div id="collapse{{ grupo.anio }}{{ grupo.mes }}" class="collapse" aria-labelledby="heading{{ grupo.anio }}{{ grupo.mes }}" data-parent="#accordionFinalizados">
                            <div class="card-body">
                                <!-- Tabla de registros -->
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead class="bg-danger text-white text-center">
                                            <tr>
                                                <th>Área</th>
                                                <th>Estado</th>
                                                <th>Ver</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for reg in grupo.registros %}
                                            <tr class="text-center">
                                                <td>{{ reg.detalle_area_produccion }}</td>
                                                <td>{{ reg.estado }}</td>
                                                <td>
                                                    <button class="btn btn-warning btn-sm" onclick="verDetallesVerificacionLimpiezaAreas('{{ reg.id_verificacion_limpieza_desinfeccion_area }}', '{{ reg.id_area_produccion }}', '{{ reg.detalle_area_produccion }}', '{{ grupo.mes }}', '{{ grupo.anio }}', '{{ reg.estado }}')">
                                                        <i class="fas fa-arrow-circle-right"></i> Ver
                                                    </button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        

    </div>

    <!-- Contenedor para mostrar los detalles de una área específica -->
    <div id="detallesLimpiezaAreas" style="display: none;">
        <!-- Campos ocultos para almacenar información -->
        <input type="hidden" id="id_limpieza_area_hidden">
        <input type="hidden" id="id_area">
        <input type="hidden" id="detallearea_hidden">
        <input type="hidden" id="mesLA">
        <input type="hidden" id="anioLA">

        <!-- Tarjeta de Detalles -->
        <div class="card shadow-sm border-0">
            <!-- Encabezado de la Tarjeta con el Título y Botón de Volver -->
            <div class="card-header d-flex align-items-center justify-content-between" style="background-color: #FF8C00; color: white;">
                <h5 class="mb-0" id="tituloDetallesLa"></h5>
                <button class="btn btn-outline-light btn-sm" onclick="volverListaCA()">
                    <i class="fas fa-arrow-left"></i> Volver
                </button>
            </div>

            <!-- Campo de Búsqueda de Categorías con tamaño ajustado -->
            <div class="input-group my-4 mx-4 col-md-6">
                <input type="text" id="buscarCategoria" class="form-control rounded-pill shadow-sm" placeholder="Buscar categoría..." onkeyup="filtrarPorTexto()">
            </div>

            <!-- Cuerpo de la Tarjeta con las Categorías -->
            <div class="card-body p-1">
                <!-- Contenedor para las categorías -->
                <div id="contenedorCategorias" class="row gy-4 px-3">
                    <!-- Aquí se mostrarán las tarjetas de las categorías dinámicamente con JavaScript -->
                </div>
            </div>
        </div>
    </div>



    <!-- Modal para mostrar los detalles de los registros para el control de envasados -->
    <div class="modal fade" id="observacionesRegistradas" tabindex="-1" role="dialog" aria-labelledby="observacionesRegistradasLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content border-0 shadow-lg">
                <!-- Encabezado del Modal -->
                <div class="modal-header text-white" style="background-color: #FF8C00; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <h5 class="modal-title font-weight-bold" id="observacionesRegistradasLabel">Observaciones realizadas en este mes</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <!-- Cuerpo del Modal -->
                <div class="modal-body p-4">
                    <!-- Formulario de Observaciones y Acciones Correctivas -->
                    <div class="form-row mb-3">
                        <div class="form-group col-md-6">
                            <label for="observacionLimpiezaAreas" style="color: #FF8C00;">Observación:</label>
                            <input type="text" id="observacionLimpiezaAreas" class="form-control rounded-pill shadow-sm" name="observacionLimpiezaAreas" placeholder="Ingrese la observación">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="accionCorrectivaLimpiezaAreas" style="color: #FF8C00;">Acción Correctiva:</label>
                            <input type="text" id="accionCorrectivaLimpiezaAreas" class="form-control rounded-pill shadow-sm" name="accionCorrectivaLimpiezaAreas" placeholder="Ingrese la acción correctiva">
                        </div>
                    </div>

                    <!-- Botón para Registrar -->
                    <div class="form-row mb-4">
                        <button class="btn btn-block btn-lg rounded-pill shadow-sm text-white" 
                            style="background-color: #FF8C00; transition: all 0.3s ease;"
                            onmouseover="this.style.backgroundColor='#FF5722';" 
                            onmouseout="this.style.backgroundColor='#FF8C00';" 
                            onclick="verRegistrarObservacionesLimpiezaAreas()">
                            <i class="fas fa-save"></i> Registrar
                        </button>
                    </div>

                    <!-- Tabla para Mostrar las Observaciones -->
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tableRegisterCE">
                            <thead class="text-white" style="background-color: #FF8C00;">
                                <tr class="text-center">
                                    <th>Observaciones</th>
                                    <th>Fecha de Registro</th>
                                    <th>Acciones Correctivas</th>
                                    <th>Validar</th>
                                </tr>
                            </thead>
                            <tbody id="tablaDetallesObservacionesHistorial">
                                <!-- Aquí se llenarán los datos de observaciones con JavaScript -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    



</div>

<script src="{{ url_for('static', filename='js/limpieza_areas.js') }}"></script>

{% endblock %}
